.navbar { 
    font-size: 32px;
    width: 100%;
    background-color: black;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__logo { 
    width: 1em;
    height: 1em;
    color: white;
}